:root{
    --selver--:#cecece;
    --black--:#575757;
    --white--:#ede9e9;
    --gold--:#b18d70;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

/************scroll top**********/
.up {
    position: fixed;
    bottom: 16px;
    right: 0px;
    color: var(--selver--);
    background-color: var(--black--);
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    transition: 0.4s !important;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.607);
  }
  .up.show {
    bottom: 32px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .up:hover {
    color: #24262b;
    background-color: #bbbbbb;
  }


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(40px);
    background-color:#f6f6f6d6 ;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0 !important;
}


.navbar-brand{
    color: black !important;
    font-size: 25px !important;
}


.nav-link{
    color: black !important;
    margin-right: 25px;
    position: relative;
    font-size: 18px;
    letter-spacing: 1.5px;
    transition: 0.5s !important;
    border-radius: 10px;
}

.nav-link:hover{
    background-color:#575757;
    color: var(--white--) !important;
    /* width: fit-content !important; */
}

.home{
    background-color: var(--white--);
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white--);
}


.home-text{
    font-size: 50px;

}

/* ==================== about section ====================== */

.about-section{
    background-color: var(--white--);
}

.about-span{
    margin-top: 7rem;
}

.about-btn{
    width: 200px !important;
    padding: 18px;
    margin-top: 40px;
    border: var(--black--) solid 3px;
    background-color: inherit;
    color: black;
    transition: all 0.5s;
    text-decoration: none;
}
  
.about-btn:hover{
    background-color: var(--black--);
    color: var(--white--);
}

.about-img img{
    width: 580px;
    max-width: 100%;
    margin-top: 50px;
}

/* ==================== services section ====================== */

.service-section{
    background-color: var(--selver--);
}

.service-span{
    margin-top: 30px;
}

.service-btn{
    width: 200px !important;
    padding: 18px;
    margin-top: 40px;
    margin-bottom: 1.1rem;
    border: var(--black--) solid 3px;
    background-color: inherit;
    color: black;
    transition: all 0.5s;
    text-decoration: none;
}
  
.service-btn:hover{
    background-color: var(--black--);
    color: var(--white--);
}

.service-img img{
    width: 580px;
    max-width: 100%;
    margin-top: 50px;
}
.service-text{
    margin-bottom: 8px;
}

/**********************footer***************** */

.footer-section{
    background-color:#5e5e5e;
    color: var(--white--);
    padding: 70px 0;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: var(--white--);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 550;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: var(--gold--);
    height: 2px;
    width: 65px;
}

.footer-col ul{
    padding: 0px !important;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #bbbbbb;
    transition: all 0.3s;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.social-links a{
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s;
    padding: 10px;

}

.social-links a:hover{
    color: #24262b;
    background-color: #bbbbbb;
}


/********************************************************* about page ***********************************************/


.hero-section{
    background-color: var(--selver--);
}

.aboutpage-text{
    margin-top: 40%;
    border-left: 3px solid var(--gold--);
    padding: 0 0 10px 40px;
}


.img-hero img{
    width: 100%;
    margin: 30% 0;
    border-radius: 15px;
    box-shadow: 10px 10px 10px ;
}

.stars{
    margin-top: 15px;
}

.stars i{
    color: var(--gold--);
    padding-left: 3px;
}

.icons-location{
    color: var(--gold--);
}

.icons-tele{
    color: var(--gold--);
}

#about-tele{
    text-decoration: none!important;
    color: var(--black--);
    transition: all 0.5s;

}
.about-social{
    margin-top: 1rem;
}

.about-location{
    color: var(--black--);
    transition: all 0.5s;
}


/********************** rooms ***************** */

.rooms{
    background-color: var(--white--);
}

.section-title{
    padding: 50px;
    font-weight: 550;
    position: relative;
}

.line{
    width: 200px;
    height: 4px;
    background-color: var(--gold--);
    position: absolute;
    bottom: 10%;
}

.title-room{
    font-weight: 550;
    color: var(--black--);
}

.text-room{
    margin: 40px 0 ;
}

.room-img{
    max-width: 350px !important;
    width: 100% !important;
    max-height: 200px;
    margin: 0 0 30px 0;
    border-radius: 10px;
    filter: brightness(0.8);
    transition: 0.3s;
}

.room-img:hover{
    transform: scale(1.1);
}

.standard-room{
    margin-top: 80px !important;
}

/********************** view  ***************** */


/* swiper */

.swiper-section {
    background-color:var(--selver--);
}

.swiper {
    width: 100%;
    height: 70vh;
}
  
.swiper-slide {
    text-align: center;
    background: transparent;
    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.text-swiper,
  #text-swiper {
    position: absolute;
    color: var(--white--);
    /* font-size: 60px; */
}
  
.swiper-button-next,
.swiper-button-prev {
    color: #bbbbbb !important;
}


/********************** team ***************** */

.team-section{
    background-color: var(--white--);
}

.title-team{
    font-weight: 550;
}

.card{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 30% 0 15% 0;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.1s;
    border: 2px solid var(--gold--) !important;
}

.card:hover{
    background-color: #878787;
    color: var(--white--) !important;
    border: none !important;
}

.card:hover .details h2{
    color: var(--white--);
}

.imgbox {
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .imgbox{
    width: 180px;
    height: 180px;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(60px);
}

.details h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--black--);
    margin-bottom: 10px;
}

.details h2 span{
    opacity: 0.5;
}


/********************************************************* service page ***********************************************/

.hero-service-section{
    background-color: var(--selver--);
}

.servicepage-text{
    margin-top: 40%;
    border-left: 3px solid var(--gold--);
    padding: 0 0 10px 40px;
}

.services-section{
    background-color: var(--white--);
}

#line__section{
    display: block;
    width: 70px;
    height: 1.8px;
    margin: 10px auto;
    background-color: var(--gold--);
}

.card-service{
    background-color: var(--selver--);
    margin: 40px 0;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    transition: 0.2s;
    overflow: hidden;
}

.img-service{
    border-radius: 10px 10px 0 0;
    filter: brightness(0.7);
}

.card-service::before{
    content: '';
    width: 110%;
    height: 100px;
    background-color: var(--selver--);
    position: absolute;
    top: 140px;
    transform: rotate(-10deg);
    z-index: 1;
}

.card-service:hover{
    border: 2px solid var(--gold--);
}

.card-service:hover .add-btn{
    transform: scale(1.1);
    color: black;
}

.card-service:hover .p-icons{
    color: var(--gold--);
}

.card-service:hover .img-service{
    filter: brightness(1);
}

.name-service{
    margin: 20px 0;
    font-weight: 550;
    position: relative;
    z-index: 99;

}

.p-icons{
    text-align:left;
    margin: 20px;
    color: var(--black--);
    position: relative;
    z-index: 99;
    transition: 0.3s;
}

.add-btn{
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 40px;
    color: var(--black--);
    transition: 0.3s;
}

.Services-main-title{
    padding-top: 50px;
}

/********************************************************* map page ***********************************************/
.nav-map{
    background-color: var(--white--);
}

.map{
    width: 100%;
    height: 100vh;
}

.map-title{
    font-size: 30px;
    font-weight: 550;
    color: var(--white--);
    padding: 30px;
    text-transform: capitalize;
    background-color:var(--black--);
}


@media  screen and (max-width:720px) {
    .nav-link:hover{
    background-color:transparent;
    color: #24262b !important;
    }
}



